<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextField_LegalCharactersInput_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840C70FE1D1924A20002A44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840C71171D1924A20002A44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840C71221D1924A20002A44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
